/* font-family: 'Open Sans', sans-serif;*/
/* font-family: 'Raleway', sans-serif;*/
/* font-family: 'Cardo', serif; */

body{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    color: #6c7279;
    font-size: 14px;
    max-width: 2000px;
    
    
}


*,
*:before,
*:after { 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

/* Header */

.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100px;
}

.header.fixed{
    position: fixed;
    background-color:  #31344e;
    height: auto;
    
}

.header.fixed .header_inner {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 35px 0;
    align-items: center;
}

/* Nav */

.nav {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
}

.nav_link{
    color: white;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.1s linear;
    margin-left: 50px;
}

.nav_link:first-child{
    margin-left: 0;
}

.nav_link:hover{
    opacity: 1;
    text-decoration: none;
    color: white;
}

/* Burger */

.burger{
    display: none;
    background: none;
    cursor: pointer;
    border: 0;
    padding: 9px 2px;

}

.burger_item{
    font-size: 0;
    color: transparent;

    width: 30px;
    height: 3px;
    background-color: white;

    display: block;
    position: relative;
}

.burger_item:before, .burger_item:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;

    position: absolute;
    left: 0;
    z-index: 1;
}

.burger_item:before{
    top: -8px;
}

.burger_item:after{
    bottom: -8px;
}



/* Intro */

.intro{
    height: 750px;
    background-color: #31344e;
    background: url(img/intro-bg.jpg)  no-repeat center;
    background-size: cover;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_inner{
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.intro_title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: white;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

.intro_subtitle{
    font-size: 22px;
    color: white;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;
}

/* Btn */

.btn.btn--red {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    font-family:'Raleway', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.1s linear;
    text-align: center;
}

.btn.btn--red {
    background-color: #e84544;

}

.btn--red:hover{
    background-color:  #d12929;
}

.btn--long{
    min-width: 280px;
}

/* Features */

.features{
    display: flex;
    margin: 100px 0;
    flex-wrap: wrap;
}

.features_item{
    width: 33.33333%;
    text-align: center;
    padding: 0 40px;
    margin: 25px 0;
}

.features_icon{
    margin-bottom: 25px;
}

.features_title{
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.features_text{
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;

}

        /* Work */

.work{
    display: flex;
    flex-wrap: wrap;
}

.work_item{
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.work_item:hover .work_content{
    opacity: 1;
}

.work_photo{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    min-width: 100%;
}

.work_content{
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.2s linear;
}

.work_title{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 5px;
}

.work_text{
    font-size: 14px;
    color: white;
}


            /* Team */

.team{
    margin: 100px 0 70px 0;
}

.team_inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team_item{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team_photo{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team_name{
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 8px;
}

.team_prof{
    font-size: 13px;
    margin-bottom: 20px;
    color: #e84545;
    text-transform: uppercase;
}

.team_text{
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
    margin-bottom: 15px;
}

.team_social{
    display: flex;
    
}

.social_item{
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 4px;
    background-color: #fff;
    transition: background-color 0.1s linear;
}

.social_item:hover{
    background-color: #e8ecee;
}

.social_item:hover .social_icon{
    fill: #000;
}

.social_icon{
    fill: #c6cacc;
    display: block;
    height: 18px;
    transition: fill .1s linear;
}


                        /* Review */

.reviewSlider{
    height: 500px;
    overflow: hidden;
}

.reviewSlider.slick-initialized {
    height: auto;
}

.review{
    background-color: #53354a;
    overflow: hidden;
}

.review_item{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

.review_photo{
    width: 50%;
    height: 500px;
    position: relative;
}

.review_img{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.review_content{
    width: 50%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review_text{
    font-family: 'Cardo', serif;
    font-style: italic;
    line-height: 1.2;
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.review_author{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    
}


                        /* Download */

.download{
    margin: 90px;
    text-align: center;
}

.download_title{
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
}

.download_text{
   font-size: 13px;
   color: #2d3033;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 30px;
}


                            /* Footer */

.footer{
    
    background-color: #3a3e64;
}

.footer_inner{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;

}

.footer_block{
    width: 33.3333%;
    text-align: center;
    padding: 0 30px 0 30px;

}

.footer_title{
   font-size: 14px;
   font-weight: 700;
   color: white;
   text-transform: uppercase; 
   margin-bottom: 10px;
}

.footer_address{
    color: rgba(255, 255, 255, 0.5);
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
}

.social--footer{
    justify-content: center;
    
}

.social--footer .social_item{
    background-color: transparent;
    border-width: 2px;
    border-radius: 1px;
    border-color: white;
}

.social--footer .social_item:hover{
    background-color: #fff;
}

.social--footer .social_icon{
    fill: white;
}

.footer_text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 1.5;
}

                            /* Copyrigth */

.copyrigth{
    background-color: #3a3e64;
    padding: 20px 0;
}

.copyrigth_text{
    text-align: center;
    font-size: 14px;
    color: #7c7c7d;
    line-height: 1.5;
}

span{
    color: white;
}

@media (max-width: 1300px) {

    .intro {
        height: 600px;
    }

    .intro_title{
        font-size: 45px;
    }
}

.footer_inner {
    padding: 40px 0;
}

@media (max-width: 1020px) {
/* Header */

.nav.dis{
    display: none;
    flex-direction: column;
    width: 100%;

    text-align: right;

    position: absolute;
    top: 100%;
    right: 0;
    background-color: #31344e;
}

.nav.show{
    display: flex;
}

.burger{
    display: block;
}

.nav_link{
    padding: 9px 15px;
}
}

@media (max-width: 820px) {



/* Intro */

    .intro{
        height: 500px;
    }

    .intro_title{
        font-size: 35px;
    }

    .intro_subtitle{
        font-size: 16px;
    }

/* Features */

    .features{
        margin: 50px 0;
    }

    .features_item{
        width: 50%;
    }

/* Work */

    .work_item{
        width: 50%;
    }

/* Team */

    .team{
        margin: 50px 0 35px 0;
    }
    .team_item{
        width: 50%;
    }

    .team_photo{
        margin: 0 auto 20px;
    }

/* Review */

    .review_photo{
        width: 100%;
        overflow: hidden;
        margin: 15px 0 40px;
    }

    .review_content{
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }

/* Footer */

    .footer_inner{
        padding: 40px 0;
    }

    .footer_block{
        padding: 0 10px;
    }
}

@media (max-width: 600px) {

/* Header */

    .header_inner{
        padding: 20px 0;
    }

/* Intro */

    .intro{
        padding-top: 70px;
        height: 400px;
    }

    .intro_title{
        font-size: 25px;
    }

    .intro_subtitle{
        margin-bottom: 40px;
        font-size: 13px;
    }

/* Features */

    .features{
        margin: 25px 0;
    }

    .features_item{
        width: 100%;
        margin: 20px 0;
    }

/* Work */

    .work_item{
        border-right: none;
        width: 100%;
    }

/* Team */

    .team_item{
        width: 100%;
        text-align: center;
    }

    .team_social{
        justify-content: center;
    }

/* Review */

    .review_img{
        right: -100px;
    }

    .review_text{
        font-size: 28px;
    }

/* Download */

    .download{
        margin: 50px;
    }

/* Footer */

    .footer_inner{
        padding: 40px 0 30px 0;
    }

    .footer_block{
        width: 50%;
        margin-bottom: 30px;
    }

    .footer_block:last-child{
        width: 100%;
    }  
    
/* Copyrigth */

    .copyrigth{
        padding-top: 0;
        
    }
}

@media (max-width: 460px) {

/* Header */

    .header{
        height: 60px;
    }

    .header_inner{
        padding: 15px 0;
    }

/* Intro */

    .intro{
        height: auto;
    }

    .intro_inner{
        margin: 30px auto 40px auto;
    }

    .intro_title{
        margin-bottom: 20px;
    }

    .intro_subtitle{
        margin-bottom: 30px;
    }

/* Features */

    .features_item{
        padding: 0;
    }

/* Review */

    .review_text{
        font-size: 22px;
    }

/* Download */

    .btn--long{
        min-width: 200px;
    }

    .download_title{
        font-size: 23px;
    }

    


/* Footer */

    .footer_block{
        padding: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 360px) {

    /* Download */

    .download{
        margin: 25px;
    }

    .btn--long{
        min-width: 150px;
    }

    .download_title{
        font-size: 23px;
    }

/* Footer */

    .footer_block{
        width: 100%;
        margin-bottom: 30px;
    }

}


